<footer class="site-footer">

  <div class="wrapper">

    <nav class="footer-content">
      <ul>
        <li><a href="{{ "/works/" | prepend: site.baseurl }}">works</a></li>
        <li> • </li>
      	<li><a href="{{ "/" | prepend: site.baseurl }}">timeline</a></li>
      	<li> • </li>
      	<li><a class="my-title" href="{{ "/about/" | prepend: site.baseurl }}">{{ site.title }}</a></li>
      	<li> • </li>
      	<li><a href="{{ "/feed.xml" | prepend: site.baseurl }}">RSS</a></li>
      </ul>
    </nav>

  </div>

</footer>
