@charset "utf-8";

// font family
$ff-serif   : Georgia, "Times New Roman", "KaiTi", "楷体", STKaiti, "华文楷体", STFangSong, "华文仿宋", serif;
$ff-sans    : Helvetica, Tahoma, Arial, "Microsoft YaHei New", "Microsoft Yahei", "微软雅黑", 宋体, SimSun, STXihei, "华文细黑", sans-serif;
$ff-mix     : Georgia, "Times New Roman", "Microsoft YaHei New", "Microsoft Yahei", "微软雅黑", 宋体, SimSun, STXihei, "华文细黑", sans-serif;
$ff-en-sans : "Trebuchet MS", Verdana, Helvetica, Arial, sans-serif;

// font size
$size-text  : 14px;
$size-small : $size-text * 0.9;
$size-foot  : $size-text * 0.9;
$size-nav   : $size-text * 2;
$size-h1    : $size-text * 3;
$size-h2    : $size-text * 2.2;
$size-h3    : $size-text * 1.7;

// color
$color-text    : #646464;
$color-light   : lighten($color-text, 37%);
$color-lighter : lighten($color-text, 56%);
$color-dark    : darken($color-text, 10%);
$color-darker  : #111;

// responsive
// http://www.responsinator.com/
$iPhone-5-portrait         : 320px;
$iPhone-5-landscape        : 568px;
$iPhone-6-portrait         : 375px;
$iPhone-6-landscape        : 667px;
$iPhone-6-Plump-portrait   : 414px;
$iPhone-6-Plump-landscape  : 736px;
$Crappy-Android-portrait   : 240px;
$Crappy-Android-landscape  : 320px;
$Android-Nexus-4-portrait  : 384px;
$Android-Nexus-4-landscape : 600px;
$iPad-portrait             : 768px;
$iPad-landscape            : 1024px;




// global

audio {
	max-width: 100%;
}

a {
	word-wrap: break-word;
}

code, pre {
	background-color: $color-lighter;
}

.page-narrow {
	margin: auto;
	width: 50%;
	audio {
		margin-bottom: $spacing-unit * 1.2;
	}
	@include media-query(500px) {
	    width: 100%;
	}
}



// post

.post {
	margin-top: $spacing-unit * 3;
}

// meta: date, tag, cat
.post-meta {
	font-family: $ff-serif;
	font-size: $size-small;
}

.post-header {
	text-align: center;
	margin-bottom: $spacing-unit * 2.5;

	.post-meta {
		color: white;
		background-color: $color-light;
		padding: 2px 4px;
		border-radius: 3px;
		
		-webkit-transition: all 0.5s linear 0s;
		transition: all 0.5s linear 0s;
		text-decoration: none;

		&:hover {
			color: $color-light;
			background-color: white;
		}
	}
}

.post-title {
	font-family: $ff-serif;
	font-size: $size-h1;
	color: $color-darker;

	@include media-query($on-laptop) {
	    font-size: $size-h1 * 0.9;
	}
}

.post-content, .page-narrow {
	font-family: $ff-mix;
	font-size: $size-text;
	color: $color-text;
	
	p {
		text-align: justify;
	}

	h2 {
		text-align: center;
		font-family: $ff-serif;
		font-size: $size-h2;
		color: $color-darker;
		margin-top: $spacing-unit * 2.5;

		@include media-query($on-laptop) {
		    font-size: $size-h2 * 0.9;
		}
	}

	h3 {
		text-align: center;
		font-family: $ff-serif;
		font-size: $size-h3;
		color: $color-darker;
		margin-top: $spacing-unit / 2;
		
		@include media-query($on-laptop) {
		    font-size: $size-h3 * 0.9;
		}
	}

	strong {
		color: $color-dark;
	}

	a {
	    color: $color-light;
	    text-decoration: none;
	    -webkit-transition: all 0.5s linear 0s;
	    transition: all 0.5s linear 0s;
	    &:hover {
	        color: $color-text;
	    }
	}

	blockquote {
		font-size: $size-text;
		color: $color-light;
		font-style: normal;
		letter-spacing: 0px;
	}
}

.footer-content {
	font-family: $ff-serif;
	font-size: $size-small;
	text-align: center;
	color: $color-light;
	
	a {
		color: $color-light;
		text-decoration: none;
		-webkit-transition: all 0.5s linear 0s;
		transition: all 0.5s linear 0s;

		&:hover {
		    color: $color-text;
		}
	}

	ul {
		list-style-type: none;
		padding-left: 0;
		margin-left: 0;
	}

	li {
		display: inline;

		&:not(:last-child) {
		    margin-right: 10px;
		}
	}
}

a.my-title {
	font-style: italic;
	color: $color-text;
}

.post-list {
	margin: auto;
	border-spacing: 0 0;
	width: 280px;
	line-height: $base-line-height * 1.5;
	
	@include media-query(320px) {
	    width: 100%;
	}
	
	.post-meta-td {
		@include media-query($Crappy-Android-portrait) {
		    display: none;
		}
	}

	.post-meta {
		color: $color-light;
	}

	.post-link {
		font-family: $ff-sans;
		color: $color-text;
		font-weight: bold;
		font-size: $size-text;

		&:hover {
			color: $color-light;
		}
	}
}

.about {
	text-align: center;

	ul {
		list-style-type: none;
		padding-left: 0;
		margin-left: 0;
	}
}

.not-found {
	p {
		text-align: center;
		color: $color-light;
	}
}

.post-centered {
	text-align: center;

	p {
		text-align: center;
	}
}

.post-content-en {
	font-family: $ff-en-sans;
	font-size: $size-text * 1.04;
	line-height: 1.5;

	h2, h3 {
		font-family: $ff-en-sans;
		letter-spacing: -1px;
	}
}

.home-nav {
	margin-top: 30%;
	font-size: $size-text;
}







