<header>
    <h1>{{ .Title }}</h1>

    {{ if isset .Params "date" }}
        <span class="meta">
            <a href={{ if .Params.cn }}"/cn"{{ else }}"/en"{{ end }}>
                {{ .Date.Format "2006-01-02" }}
            </a>
        </span>

        <!-- 首页没有 date, 所以这是一个 trick, 用来给 blog 加上返回首页的 link -->
        <span class="meta">
            <a href="/">flujoo</a>
        </span>
    {{ end }}

    {{ if isset .Params "tags" }}
        {{ range .Params.tags }}
            <span class="meta">{{ . }}</span>
        {{ end }} 
    {{ end }}
</header>
