@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

$color-text    : #646464;
$color-light   : lighten($color-text, 37%);
$color-lighter : lighten($color-text, 50%);
$color-dark    : #111;

$size-text : 16px;
$size-h1   : 40px;
$size-h2   : 24px;
$size-h3   : 18px;
$size-meta : 14px;

body {
    font-family: Avenir, "Helvetica Neue", Helvetica, sans-serif;
    font-size: $size-text;
    color: $color-text;
}

h1, h2, h3, strong {
    color: $color-dark;
}

h1 {
    margin-bottom: 15px;
    font-size: $size-h1;
}

h2 {
    font-size: $size-h2;
    margin-top: 50px;
}

h3 {
    font-size: $size-h3;
}

.meta {
    font-size: $size-meta;
    margin-right: 6px;
}

.home {
    font-size: $size-meta;
    font-weight: normal;
}

pre {
    padding: 10px;
    overflow: auto;
    font-size: $size-meta;
}

// https://stackoverflow.com/questions/
// 14900763/css-selector-for-not-a-child-of-element-type
code:not(pre *) {
    background-color: #f8f8f8;
    font-size: $size-meta;
    letter-spacing: -0.5px;
    padding: 0px 5px;
    border-radius: 2px;
}

h2 code {
    font-size: $size-h2;
}

article {
    width: 700px;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 150px;

    @include media-query(700px) {
        width: 95%;
        margin-top: 50px;
    } 
}

header {
    margin-bottom: 30px;
}

footer {
    margin-top: 50px;
}

hr {
    margin-top: 30px;
    margin-bottom: 30px;
    display: block;
    height: 0px;
    border: 0px;
    border-top: 1px solid $color-lighter;
}

a {
    word-wrap: break-word;
    color: $color-light;
    text-decoration: none;
    -webkit-transition: all 0.2s linear 0s;
    transition: all 0.2s linear 0s;

    &:hover {
        color: $color-text;
    }
}

img {
    max-width: 100%;
}
